
<div class="contenedor-examen">
    <h1>Examen</h1>
    <div *ngFor="let pregunta of preguntas; let i = index">
        <p><strong>{{ i + 1 }}.</strong> {{ pregunta.pregunta }}</p>
        
        <label *ngFor="let opcion of pregunta.opciones">
          <input 
            type="radio" 
            [name]="'pregunta' + i" 
            [value]="opcion"
            [(ngModel)]="respuestasUsuario[i]"
          /> {{ opcion }}
        </label>
        
        <p>{{ mensajes[i] }}</p>
      </div>
      
      <button (click)="verificarRespuestas()">Finalizar Examen</button>
</div>
